    html,
    body {
      height: 100%;
      margin: 0;
      font-family: 'Arial', sans-serif;
      background: url('../image/bg11.jpg') no-repeat center center fixed;
      /* Gambar latar belakang */
      background-size: cover;
      /* Memastikan gambar menutupi seluruh layar */
      color: #333;
      scroll-behavior: smooth;
      display: flex;
      flex-direction: column;
    }

    .container {
      flex: 1;
    }

    .navbar-brand {
      font-weight: bold;
      transition: all 0.3s ease;
    }

    .navbar-brand:hover {
      color: #94793e !important;
      transform: translateY(-3px);
    }
    .foot {
      transition: all 0.3s ease;
    }

    .foot:hover {
      color: #746545 !important;
      transform: translateY(-3px);
    }
    .text-lig{
      font-weight: bold;
      color: #3B2F2F;
    }
    li{
      font-size: large;
    }
    .text-dar{
      font-weight: bold;
      color: #574f45;
    }
    .navbar {
      background-color: #3B2F2F;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .navbar-brand,
    .navbar h4 {
      color: #ecf0f1 !important;
    }
    .shs{
        min-height: calc(100vh - 100px); /* Penyesuaian untuk tinggi header/footer */
    }

    .navbar-brand img {
      width: 30px;
      height: 30px;
    }

    .content {
      flex: 1;
      padding: 50px 15px;
    }

    .custom-btn {
      background-color: #d7cdb6;
      color: #3B2F2F;
      font-weight: bold;
      transition: all 0.3s ease;
    }

    .custom-btn:hover {
      background-color: #6F4C3E;
      color: #3B2F2F;
      transform: translateY(-3px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


    .hero-section {
      background: linear-gradient(to left bottom, rgba(218, 215, 208, 0.8), rgba(174, 154, 114, 0.8)), url('../image/bg1.jpeg') no-repeat center center;
      background-size: cover;
      padding: 80px 20px;
      color: dark;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
    }

    .hero-section h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .hero-section p {
      font-size: 1.2em;
      line-height: 1.8;
    }

    .bg1{
      background: linear-gradient(to right top, rgba(174, 154, 114, 0.8), rgba(218, 215, 208, 0.8)), url('../image/tulisan.png') no-repeat center center;
    }
    .bg2{
      background: linear-gradient(to right top, rgba(174, 154, 114, 0.8), rgba(218, 215, 208, 0.8)), url('../image/visual.png') no-repeat center center;
    }
    .bg3{
      background: linear-gradient(to right top, rgba(174, 154, 114, 0.8), rgba(218, 215, 208, 0.8)), url('../image/icon1.jpg') no-repeat center center;
    }
    .bg4{
      background: linear-gradient(to right top, rgba(174, 154, 114, 0.8), rgba(218, 215, 208, 0.8)), url('../image/bg3.jpg') no-repeat center center;
    }

    .hero-section1 {
      background-size: cover;
      padding: 80px 20px;
      color: dark;
      border-radius: 15px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
      margin-bottom: 30px;
    }

    .hero-section1 h1 {
      font-size: 2.5em;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .hero-section1 p {
      font-size: 1.2em;
      line-height: 1.8;
    }

    .btnn {
      background-color: #d7cdb6;
      color: #3B2F2F;
      padding: 5px 20px;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 30px;
      text-transform: uppercase;
      transition: all 0.3s ease;
    }

    /* Hover effect */
    .btnn:hover {
      background-color: #b39e70;
      color: #3B2F2F;
      transform: translateY(-3px);
      /* Optional hover effect */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      /* Adds a shadow effect on hover */
    }

    .btn-cta {
      color: #fff;
      padding: 12px 30px;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 30px;
      text-transform: uppercase;
      transition: all 0.3s ease;
      background-color: #6F4C3E;
    }

    .btn-cta:hover {
      background-color: #5B3A29;
      color: #fff;
      transform: translateY(-3px);
    }

    .features-section {
      margin: 50px 0;
    }

    .features-section1 {
      margin: 50px 0;
    }

    .feature-card {
      background: linear-gradient(to right top, rgba(174, 154, 114, 0.9), rgba(218, 215, 208, 0.9));
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }

    .feature-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    }

    .feature-card img {
      max-width: 80px;
      margin-bottom: 20px;
    }

    .feature-card h4 {
      font-size: 1.4em;
      font-weight: bold;
    }

    .feature-card p {
      font-size: 1em;
      color: #7f8c8d;
    }

    footer {
      background-color: #3B2F2F;
      /* Darker Blue */
      color: #ecf0f1;
      /* Light Grey */
      padding: 30px 20px;
      font-size: 1.2em;
      /* Bigger font size in footer */
      position: relative;
      margin-top: 20px;
    }

    footer .left-text,
    footer .right-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    footer .left-text {
      left: 20px;
    }

    footer .right-text {
      right: 20px;
    }

    /* Responsiveness */
    @media (max-width: 768px) {
      .navbar h4 {
        font-size: 1.2em;
        text-align: center;
      }

      .navbar-brand {
        text-align: justify;
      }

      .hp {
        font-size: 1.2em;
        font-weight: bold;
      }

      .btnn {
        background-color: #d7cdb6;
        color: #3B2F2F;
        padding: 5px 20px;
        font-size: 0.8em;
        font-weight: bold;
        border-radius: 30px;
        text-transform: uppercase;
        transition: all 0.3s ease;
      }

      .hero-section {
        text-align: center;
        padding: 50px 20px;
      }

      .hero-section1 {
        text-align: center;
        padding: 50px 20px;
      }

      footer .left-text,
      footer .right-text {
        position: static;
        text-align: center;
        margin: 10px 0;
        transform: none;
      }

      footer {
        text-align: center;
        padding: 20px;
      }

      .content {
        padding: 15px 10px;
      }
    }